@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@300&display=swap');
body{
  background-color: hsl(233, 47%, 7%);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
